:root {
	--lightpurple: plum;
	--purple: mediumorchid;
  }

html {
	scroll-behavior: smooth;
}
h3 {
	color: #404040;
	font-size: 1.3em;
}
body {
	background-color: #e9e7e7;
}
.navbar-purple {
	padding: 12px 0px;
}
.navbar > #pdf {
	margin-left: auto;
	display: inline;
}
.navbar > #pdf > a {
	font-weight: bold;
}
#programming-table > table > *{
	font-weight: bold;
}
.mylist {
	list-style: none;
	padding: 0;
}
.center {
	display: flex;
	justify-content: center;
}
.listhead {
	display: block;
}
.centerlist {
	margin-left: auto;
	margin-right: auto;
}
.row > * > img {
	padding-top: 10px;
	padding-bottom: 15px;
}

h2 {
	color: var(--purple);
}
.mylist > li {
	padding: 5px 0px 10px 0px;
}
.navbar-purple > a {
	font-size: 1.4em;
	/*display: inline-block;*/
	background-color: var(--lightpurple);
	padding: 3px 20px;
	border-radius: 10px;
	color: #404040;
	font-weight: bold;
}
.navbar-purple > a:hover{
	border: 3px var(--lightpurple) solid;
	color: var(--lightpurple);
	background-color: #404040;
	padding: 0px 17px;
}
.navbar-purple > ul > li > a, .navbar-purple > #pdf > a{
	font-size: 1.1em;
	color: var(--lightpurple);
}
.navbar-white > ul > .head {
	margin-top: 20px;
	color: var(--lightpurple);
	font-size: 1.1em;
}
.navbar-white > ul > li > a {
	color: lightgray;
	font-size: 0.9em;
}
.profile {
	width: 300px;
	/*margin: 0px 40px 10px 10px;*/
}
.profile-small {
	width: 150px;
}
a  {
	color: navy;
}
.odd > * > a{
	color: #0000EE;
}

table.standard-table td {
	padding: 3px 15px;
}
table.standard-table tr {
	border-top: 1px solid #1a1a1a;
}
table.standard-table {
	width: 100%;
}
table.coding-table td {
	padding: 15px;
}
table.contact-table td {
	padding: 10px 15px;
}
@media only screen and (max-width: 768px) {
    iframe{
        width: 100%;
    }
}
#sidenav {
	width: 232px;
	flex-flow: column nowrap;
	align-items: flex-end;
	position: fixed;
	height: 100%;
	padding-right: 30px;
}
#sidenav > * {
	text-align: right;
}
.odd {
	background-color: rgb(214, 214, 214);
}
#sidebarwcontent {
	margin-left: 232px;
	width: auto;
}
.row > div {padding: 40px;}
@media(max-width: 1000px) {
	#sidenav {
		display: none;
	}
	#sidebarwcontent {
		margin-left: 0px;
	}		
}

